<!-- dataitem ids are postfixed with $deviceNum, names are prefixed with $deviceId. -->

<Module>
  <DataItems>
    <DataItem id="avail" name="availability" category="EVENT" type="AVAILABILITY"/>
    <DataItem id="temp" name="temperature" category="EVENT" type="TEMPERATURE" units="CELSIUS" nativeUnits="FAHRENHEIT"/>
    <DataItem id="mem" name="memory" category="EVENT" type="VARIABLE" subType="x:MEMORY" representation="DATA_SET" />
    <DataItem id="cpu" name="cpu" category="EVENT" type="VARIABLE" subType="x:CPU" representation="DATA_SET" />

    <DataItem id="mem-total" name="memory-total" category="SAMPLE" type="VARIABLE" subType="x:MEMORY_TOTAL" />

  </DataItems>
</Module>

<!-- or when added on to a machine, -->
<!-- so could use above and say  -->
<!-- path = Auxiliaries/Sensor[@id="" @name=""]/DataItems -->

<!-- <Module path="Device/Auxiliaries/Sensor"> -->

<!-- 
<Auxiliaries>
  <Sensor id="" name="">
    <DataItems>
      <DataItem id="avail" name="availability" category="EVENT" type="AVAILABILITY"/>
      <DataItem id="temp" name="temperature" category="SAMPLE" type="TEMPERATURE" units="CELSIUS" nativeUnits="FAHRENHEIT"/>
      <DataItem id="mem" name="memory" category="EVENT" type="VARIABLE" representation="DATA_SET" />
    </DataItems>
  </Sensor>
</Auxiliaries> 
-->
