[submodule "setups/test"]
	path = setups/test
	url = https://github.com/Ladder99/setup-test
[submodule "setups/demo"]
	path = setups/demo
	url = https://github.com/Ladder99/setup-demo
[submodule "setups/lockheed"]
	path = setups/lockheed
	url = https://github.com/Ladder99/setup-lockheed
