.DS_Store
node_modules
package-lock.json
*.lock
.gradle
*.log
*.db
.firebase
pi.sh
.env
.vscode
.venv
_old
desktop.ini

*.bak

**/grafana/var
**/mosquitto/data
**/mosquitto/log
**/pgadmin
**/portainer/data
**/postgres/data
**/volumes/traefik/acme.json

.l99_setup
