# MTConnect Agent configuration

# Notes https://github.com/mtconnect/cppagent#adapter-configuration-items
Adapters {
   # adapter name here can be anything
   adapter {
      # this device value must match device name in agent.xml
      # Device = pa1
      Device = print-apply1
      Host = adapter
      Port = 7878
   } 
   # adapter2 {
   #    Device = camera1
   #    Host = adapter2
   #    Port = 7878
   # } 
}

# Notes https://github.com/mtconnect/cppagent#top-level-configuration-items

# Devices - The XML file to load that specifies the devices and 
# is supplied as the result of a probe request. If the key is not 
# found the defaults are tried.
# Defaults: probe.xml or Devices.xml
# note: need full path here.
Devices = /data/agent/agent.xml

logger_config {
   # logging_level = warn
   logging_level = debug
}

Files {
   styles {
      Path = /data/styles
      Location = /styles
   }
   Favicon {
      Path = /data/styles/favicon.ico
      Location = /favicon.ico
   }
}
DevicesStyle { Location = /styles/styles.xsl }
StreamsStyle { Location = /styles/styles.xsl }
