.DS_Store
node_modules
*.lock
.gradle
*.log
*.db
.firebase
pi.sh
.env
.vscode
.venv
_old

agent.log*

volumes/adapter/cookies
volumes/backups
volumes/grafana/var
volumes/mosquitto/data
volumes/mosquitto/log
volumes/nodered
volumes/pgadmin
volumes/portainer/data
volumes/postgres/data
volumes/traefik/acme.json
