<Module>
  <DataItems>
    <DataItem id="avail" name="availability" category="EVENT" type="AVAILABILITY"/>
    <DataItem id="state" category="EVENT" type="EXECUTION"/>
    <!-- for 'quality' need subtype = ALL, GOOD, BAD etc. see pt2 pg130 -->
    <DataItem id="count" category="EVENT" type="PART_COUNT" discrete="true"/>
  </DataItems>
  <Components>
    <Systems>
      <Components>
        <Electrical>
          <DataItems>
            <DataItem id="power" name="control_power_condition" category="CONDITION" type="VOLTAGE_DC" />
          </DataItems>
        </Electrical>
      </Components>
    </Systems>
  </Components>
</Module>
