Adapters {
   # adapter name here can be anything
   adapter {
      Device = printer1 # must match device name in agent.xml
      Host = adapter
      Port = 7878 # must match port in setup.yaml
   } 
}

Devices = /data/agent/agent.xml


# stylesheets
Files {
   styles {
      Path = /etc/mtconnect/styles
      Location = /styles
   }
   Favicon {
      Path = /etc/mtconnect/styles/favicon.ico
      Location = /favicon.ico
   }
}
DevicesStyle { Location = /styles/styles.xsl }
StreamsStyle { Location = /styles/styles.xsl }
