.panel-default > .panel-heading {
  padding: 5px 15px;
}

.nav,
.navbar,
.navbar-default,
.navbar-nav,
.navbar-collapse,
.navbar-header,
.navbar-form {
  background: black;
}

.navbar-brand {
  /* background: #a5b8c3; */
  background: black;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
