<Module>
  <DataItem id="ct" name="c_temperature" category="SAMPLE" type="TEMPERATURE" units="CELSIUS" statistic="AVERAGE" />
  <DataItem id="ca" name="c_acceleration" category="SAMPLE" type="ACCELERATION" units="MILLIMETERS/SECOND^2" statistic="MAXIMUM" />
</Module>


<!-- could just embed the dataitems where used -->

<!-- 
<Rotary id="c" name="C">
  <DataItems>
    <DataItem id="ct" name="c_temperature" category="SAMPLE" type="TEMPERATURE" units="CELSIUS" statistic="AVERAGE" />
    <DataItem id="ca" name="c_acceleration" category="SAMPLE" type="ACCELERATION" units="MILLIMETERS/SECOND^2" statistic="MAXIMUM" />
  </DataItems>
</Rotary> 
-->

<!-- or treat sensor as an independent device -->

<!-- 
<Device id="$id" name="$name" uuid="$uuid">
  <Description manufacturer="$manufacturer">$description</Description>
  <DataItems>
    <DataItem id="ct" name="c_temperature" category="SAMPLE" type="TEMPERATURE" units="CELSIUS" statistic="AVERAGE" />
    <DataItem id="ca" name="c_acceleration" category="SAMPLE" type="ACCELERATION" units="MILLIMETERS/SECOND^2" statistic="MAXIMUM" />
  </DataItems>
</Device> 
-->

<!-- or as a Component with element Sensor -->

<!-- 
<Components>
  <Sensor id="$id" name="$name" uuid="$uuid">
    <DataItems>
      <DataItem id="ct" name="c_temperature" category="SAMPLE" type="TEMPERATURE" units="CELSIUS" statistic="AVERAGE" />
      <DataItem id="ca" name="c_acceleration" category="SAMPLE" type="ACCELERATION" units="MILLIMETERS/SECOND^2" statistic="MAXIMUM" />
    </DataItems>
  </Sensor>
</Components>
-->