body {
  --themecolor: #111;
  --menucolor: black;
  /* --logocolor: #555; */
}

.highlight {
  background: rgb(210, 210, 255);
}

.wy-side-nav-search {
  background-color: var(--themecolor);
}
.wy-nav-top {
  background-color: var(--themecolor);
}

.wy-menu {
  background-color: var(--menucolor);
}

.wy-nav-side {
  background-color: var(--menucolor);
}

/* .wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
  background-color: var(--logocolor);
} */
