/* define global variables */
:root {
  --header-height: 60px;
}

.nav,
.navbar,
.navbar-default,
.navbar-nav,
.navbar-collapse,
.navbar-header,
.navbar-form {
  background: black;
}

.navbar-brand {
  background: black;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

/* can make +/- icons automatically? */
summary {
  cursor: pointer;
  /* display: list-item; */
}

/* change icons for summary/detail */
/* https://stackoverflow.com/questions/10813581/replace-the-expand-icon-of-html5-details-tag */
details > summary {
  list-style-type: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::before {
  content: '▶️';
}
details[open] > summary::before {
  content: '🔽';
}
details {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
details[open] > summary {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  /* since the table is the scroller, hide body scrollbars... */
  /* see https://dev.to/debadeepsen/a-table-with-a-fixed-sticky-header-54gm */
  overflow-y: hidden;
}

.page-container {
  margin-top: var(--header-height);
}

.stickytable-container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  background: #eee;
  position: sticky;
  top: 0px;
}

table tbody tr:nth-child(odd) td {
  background: #fafafa;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 1px 8px;
  border: 1px solid #eee;
}
