.panel-default > .panel-heading {
  padding: 5px 15px;
}

.nav,
.navbar,
.navbar-default,
.navbar-nav,
.navbar-collapse,
.navbar-header,
.navbar-form {
  background: black;
}

.navbar-brand {
  background: black;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

summary {
  cursor: pointer;
  /* display: list-item; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

table {
  margin: 0;
}

table {
  width: 100%;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  /* max-height: 200px; */
  max-height: calc(100vh - 60px);
}

table tbody tr:nth-child(odd) td {
  background: #fafafa;
}
/* table tr:nth-child(even) td{
} */

/* .tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
} */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 1px;
}
