/* define global variables */
:root {
  --header-height: 60px;
}

.container-fluid {
  /* padding-left: 0; */
  /* padding-right: 0; */
}

.nav,
.navbar,
.navbar-default,
.navbar-nav,
.navbar-collapse,
.navbar-header,
.navbar-form,
.navbar-brand {
  background: black;
}
.navbar-header {
  padding-left: 10px;
}

/* .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
} */

summary {
  cursor: pointer;
}

/* change icons for summary/detail */
/* https://stackoverflow.com/questions/10813581/replace-the-expand-icon-of-html5-details-tag */
details > summary {
  list-style-type: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::before {
  /* content: '▶️'; */
  /* content: '&boxplus;'; */
  content: '⊞';
}
details[open] > summary::before {
  /* content: '🔽'; */
  /* content: '&boxminus;'; */
  content: '⊟';
}
/* details { */
/* border: 1px solid gray; */
/* border-radius: 0.2rem; */
/* padding: 0.5rem; */
/* } */
details[open] > summary {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0; */
}

body {
  /* since the table is the scroller, hide body scrollbars... */
  /* see https://dev.to/debadeepsen/a-table-with-a-fixed-sticky-header-54gm */
  overflow-y: hidden;
}

.page-container {
  margin-top: var(--header-height);
}

.stickytable-container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.subtable {
  margin: 8px 0;
}

th {
  text-align: left;
  background: #e2e2e2;
  position: sticky;
  top: 0px;
}

/* table tbody tr:nth-child(odd) td {
  background: #fafafa;
} */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.subtable td {
  padding: 1px 8px;
  border: 1px solid #ddd;
}
